@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --aaa-blue: #004B87;
    --aaa-red: #D22630;
    --aaa-yellow: #FDB913;
    --aaa-darkblue: #003d6b;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
}

@layer utilities {
  .aaa-gradient {
    background: linear-gradient(135deg, #004B87 0%, #003d6b 100%);
  }
}